<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creditease.netspy">

    <application>
        <provider
            android:name="com.creditease.netspy.internal.data.NetSpyContentProvider"
            android:authorities="com.creditease.netspy.netSpyContentProvider"
            android:exported="false" />

        <activity
            android:name="com.creditease.netspy.internal.ui.NetSpyHomeActivity"
            android:label="@string/netspy_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.creditease.netspy.task"
            android:theme="@style/NetSpy.Theme" />
        <activity
            android:name="com.creditease.netspy.internal.ui.NetworkTabActivity"
            android:parentActivityName="com.creditease.netspy.internal.ui.NetSpyHomeActivity"
            android:theme="@style/NetSpy.Theme" />

        <service
            android:name="com.creditease.netspy.internal.support.ClearTransService"
            android:exported="false" />
    </application>
</manifest>