<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.creditease.netspy">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application>
        <activity
            android:name=".inner.ui.apimock.ApiMockListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/netspy_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.creditease.netspy.task"
            android:theme="@style/NetSpy.Theme" />
        <activity
            android:name=".inner.ui.bugspy.BugSpyListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/netspy_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.creditease.netspy.task"
            android:theme="@style/NetSpy.Theme" />
        <activity
            android:name=".inner.ui.bugspy.BugSpyDetailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".inner.ui.bugspy.BugSpyListActivity"
            android:theme="@style/NetSpy.Theme" />
        <activity
            android:name=".inner.ui.netspy.NetSpyListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/netspy_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.creditease.netspy.task"
            android:theme="@style/NetSpy.Theme" />
        <activity
            android:name=".inner.ui.netspy.HttpTabActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".inner.ui.netspy.NetSpyListActivity"
            android:theme="@style/NetSpy.Theme" />

        <service
            android:name=".inner.support.ClearTransService"
            android:exported="false" />
    </application>

</manifest>